@import
url('https://fonts.googleapis.com/css?family=EB+Garamond&family=Great+Vibes&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #0a0f2c, #020409);
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-container{
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px #00ffe0, 0 0 40px #0044ff;
    text-align: center;
    width: 80%;
    max-width: 450px;
}
.title{
    font-size: 48px;
    margin-bottom: 20px;
}
.inc{
    font-size: 24px;
    color: #00ffe0;
}
.moon{
    width: 80px;
    margin: 0 10px;
    transition: transform 0.5s;
}
.moon::hover{
    transform: scale(1.2);
}
.login-button{
    margin-top: 20px;
}
.signup-button{
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background: #00ffe0;
    border: none;
    border-radius: 10px;
    color: #020409;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn::hover{
    background: #00c9a7
    box-shadow: 0 0 15px #00ffe0;
}
.tagline{
    margin-top: 20px;
    font-size: 18px;
    color: #aaa;
}
.tagline p{
    font-size: 16px;
    margin: 0;
}